
/* INICIO */

body {
    background-color: #000;
    color: #f5e6c8;
    font-family: "Cinzel", serif;
    margin: 0;
}


.banner img {
    width: 100%;
    display: block;
}


.hero {
    width: 100%;
    height: 440px; 
    background-image: url("assets/portada.jpg");
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;  
}


.custom-menu {
    background-color: #5A4632;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #4d3b3b;
}


.custom-btn {
    border: 2px solid #f5e6c8;
    border-radius: 6px;
    color: #f5e6c8 !important;
    background-color: transparent;
    font-weight: 600;
    transition: 0.3s ease;
}

.custom-btn:hover {
    background-color: #D3C5A5;
    color: #2c1f1f !important;
}


section h2 {
    font-size: 2.5rem;
    color: #f5e6c8;
    margin-bottom: 20px;
    text-align: center;
}


section {
    padding: 80px 10%;
}


/* SECCIÓN MAS ALLA DEL JARDIN */

.serie-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 10% 40px; 
}


.serie-texto {
    width: 55%;
}

.serie-texto h2 {
    text-align: left;
    margin-bottom: 20px;
}

.serie-texto p {
    margin-bottom: 18px;
    line-height: 1.7;
}

.serie-imagenes {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serie-imagenes img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    object-fit: cover;
}

/* SECCIÓN PROCESO */

.proceso-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 80px 10%;
}

.proceso-texto {
    width: 55%;
}

.proceso-texto h2 {
    text-align: left;
    margin-bottom: 20px;
}

.proceso-texto p {
    margin-bottom: 18px;
    line-height: 1.7;
}

.proceso-gif {
    width: 40%;
}

.proceso-gif img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* SECCIÓN INTEGRANTES  */

.integrantes-section {
    padding: 90px 10%;
    text-align: center;
}

.integrantes-section h2 {
    margin-bottom: 50px;
    font-size: 2.8rem;
}

.integrantes-contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.integrante {
    width: 320px;
    background-color: rgba(255, 244, 225, 0.05);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #4d3b3b;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* HOVER PQ SOMOS PRO */

.integrante:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}


.integrante img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    height: 360px; 
}

.integrante-desc {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.15rem;
    font-family: "Cinzel", serif;
    color: #e8d9b8;
}

/* ESTRELLITA */

.integrante-desc::before {
    content: "✦";
    display: block;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #d4c2a3;
    opacity: 0.9;
}


/* SECCIÓN AVENTURA */

.aventura-section {
    padding: 80px 10%;
    text-align: center;
}

.titulo-aventura {
    font-size: 2.5rem;
    font-family: "Cinzel", serif;
    margin-bottom: 30px;
    color: #fff; 
    font-family: "Cinzel", serif;
}

.aventura-container iframe {
    width: 640px;
    height: 480px;
    border: 2px solid #4e3a3a;
    border-radius: 12px;
}

/* FOOTER */

footer {
    background-color: #1a0f0f;
    color: #f5e6c8;
    text-align: center;
    padding: 25px 0;
    font-size: 1rem;
    margin-top: 40px;
    border-top: 2px solid #4d3b3b;
}

